<!DOCTYPE html>
<html>
	<head>
		<title>Page Title</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0">
		<!-- Compressed CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
	</head>
  <body>
    <div class='ui fixed inverted menu'>
      <div class='ui container'>
        <div class='header item'><i class="paint brush icon"></i>Guitar Site</div>
        <a href='/' class='item'>Home</a>
        <a href='/guitars/new' class='item'>New Guitar</a>
      </div>      
    </div>